<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
    
  <py:match path="body/div[@id='report']" once="true" >
  <div id="report">  
    <div class="header">
      <h4>Running out of memory at <em>${hostname}</em></h4>
    </div>
    <div class="message">
        <p>Memory resources are exhausting: exceeded the usage limit of ${max_usage}%. The average usage was ${avg_usage}%. </p>
    </div>
  </div>
  </py:match>

  <xi:include href="base.html" />
</html>
