<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/" py:strip="">
    
  <py:match path="body/div[@id='report']" once="true" >
  <div id="report">
    <div class="header">
      <h4>Not enough RRD data at <em>${hostname}</em></h4>
    </div> 
    <div class="message">
      <p>A checker failed to compute an average on CDPs because of insufficient RRD data:</p>
    </div>
    <div class="exc-message">
      <tt>${exc_message}</tt>
    </div>
  </div>
  </py:match>
    
  <xi:include href="base.html" />
</html>
